.TodoList {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
}

.TodoInput {
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 3px;
  width: 80%;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(120, 120, 120, 0.75);
  outline: none;
}

.Btn {
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 3px;
  outline: none;

}