.TodoItem {
  margin: 10px auto;
  padding: 15px;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px rgba(120, 120, 120, 0.75);
}

.TodoRemove {
  margin-right: 10px;
  padding: 2px 3px;
  font-size: 20px;
  font-weight: bold;
  color: red;
  text-align: center;
  border: 1px solid red;
  border-radius: 3px;
  cursor: pointer;
}