.Toolbar {
  padding: 20px 5%;
  text-align: center;
  border-bottom: 1px solid #333;
}

.Toolbar-Item {
  margin: 0 20px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.Toolbar-Item.Selected {
  color: red;
}